* {
    font-family: Helvetica, sans-serif;
}

body {

}

.header {
    text-align: center;
    padding: 10px;
    background-color: bisque;

}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 2px solid blue;
}

button {
    padding: 10px;
    margin: 10px;
    color: wheat;
    font-weight: bold;
    background-color: #73a950;
    border-radius: 15px;
}

.option-buttons {
    align-self: center;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 2px solid red;
    box-sizing: border-box;
    width: 20vw;
    padding: 5px;
}

.gridContainer {
    border: 2px solid yellow;
    box-sizing: border-box;
    width: 80vw;
    height: 80vw;
    padding: 20px;
    align-self: stretch;

}

.grid-container p {
    text-align: center;
}

.grid {
    border: 2px solid green;
    box-sizing: border-box;
    padding: 20px;
    width:500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.square {
    border: none;
    background-color: black;
    box-sizing: border-box;
}

